# Gemini AI API Key
GEMINI_API_KEY=""

# Tavily Search API Key
TAVILY_API_KEY=""

# Groq API Key (for GST Advisor/RAG)
GROQ_API_KEY=""

# Sarvam AI API Key (for STT/TTS)
SARVAM_API_KEY=""

# MongoDB Configuration
MONGODB_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/"
MONGODB_DB_NAME="ArthSaathi"
MONGODB_COLLECTION_NAME="financial_data"
